@import "../../../@mixins";

.OtzivHead{
  width: 100%;
  height: 250px;
  @include flex-between;

  .left{
    width: 40%;
    height: 100%;
    border-radius: 4rem;
    @include flex-center;
    background: url("../../../assets/otzivHead1.png") no-repeat center center;
    background-size: cover;

    &__cont{
      width: 80%;
      height: 80%;
      display: flex;
      align-items: end;
      justify-content: start;

      h1{
        font-size: 4rem;
      }
    }
  }
  .right{
    width: 59.5%;
    height: 100%;
    @include flex-center;
    border-radius: 4rem;
    background: url("../../../assets/otzivHead2.png") no-repeat center center;
    background-size: cover;

    &__cont{
      width: 80%;
      height: 80%;
      display: flex;
      align-items: end;
      justify-content: end;

      button{
        width: 50%;
      }
    }
  }
}
.sectionOfOtziv{
  width: 100%;
  height: 2000px;
  @include grid(6, 3, 0.5%);
  grid-template-areas:
        "itemss0 itemss1 itemss2"
        "itemss0 itemss3 itemss4"
        "itemss0 itemss6 itemss4"
        "itemss5 itemss6 itemss7"
        "itemss5 itemss9 itemss10"
        "itemss8 itemss9 itemss11";
}
.itemss0{grid-area: itemss0;}
.itemss1{grid-area: itemss1;}
.itemss2{grid-area: itemss2;}
.itemss3{grid-area: itemss3;}
.itemss4{grid-area: itemss4;}
.itemss5{grid-area: itemss5;}
.itemss6{grid-area: itemss6;}
.itemss7{grid-area: itemss7;}
.itemss8{grid-area: itemss8;}
.itemss9{grid-area: itemss9;}
.itemss10{grid-area: itemss10;}