.sectionBlockName {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
}
.sectionBlockName .left_block {
  width: 40%;
  height: 100%;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../assets/Infoname1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sectionBlockName .left_block__space {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: end;
  justify-content: start;
}
.sectionBlockName .left_block__space h1 {
  font-size: 4rem;
}
.sectionBlockName .right_block {
  background: url("../../../assets/Infoname2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 59.5%;
  height: 80%;
  border-radius: 4rem;
}

.sectionFor {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.sectionFor .top {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
}
.sectionFor .top h1 {
  font-size: 4rem;
  width: 30%;
}
.sectionFor .blanks {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

